#
######## Requierement package for TrajectoryClustering.py ######
#
#To use it, simply write "sudo pip install -r requirements.txt"
###### Requirements without Version Specifiers ######
argparse
argcomplete
cython
progressbar
matplotlib
prettytable
scipy >= 0.18
sklearn >= 0.18
mdtraj >= 1.7