#
######## Requierement package for TrajectoryClustering.py ######
#
#To use it, simply write "sudo pip install -r requirements.txt"
###### Requirements without Version Specifiers ######
cython
argparse
argcomplete
progressbar2
matplotlib
numpy
pandas
prettytable
scipy >= 0.18
scitkit-learn
mdtraj >= 1.7